In [103]:
class Employee:
    def __init__(self, name, l_name, salary, exp):
        self.name = name
        self.last_name = l_name
        self.base_salary = salary
        self.experience = exp


class Developer(Employee):
    def __init__(self, name, l_name, salary, exp):
       super().__init__(name, l_name, salary, exp)
       

class Designer(Employee):
    def __init__(self, name, l_name, salary, exp, er):
       super().__init__(name, l_name, salary, exp)
       self.er = er

class Manager(Employee):
    def __init__(self, name, l_name, salary, exp, team):
       super().__init__(name, l_name, salary, exp)
       self.team = team   


class Department:
    def __init__(self, managers):
         self.managers = managers
    
    def giveSalary(self):
        print('\n'.join(self.countedSalary()))

    def countedSalary(self):
        ans = []
        for m in self.managers:
            salary = m.base_salary
            if m.experience > 5:   salary = salary*1.2 + 500
            elif m.experience > 2: salary += 200

            if len(m.team)>10: salary += 300
            elif len(m.team)>5: salary += 200
            
            if sum(isinstance(x, Developer) for x in m.team)>len(m.team)/2: salary *= 1.1
            ans.append(f'\n{m.name} {m.last_name} отримав(-ла) {salary} монет')

            for e in m.team:
                salary = e.base_salary

                if e.experience > 5:
                    salary = salary*1.2 + 500
                elif e.experience > 2:
                    salary += 200
                
                if isinstance(e, Designer):
                    salary *= e.er

                ans.append(f'   {e.name} {e.last_name} отримав(-ла) {salary} монет')

        return ans

In [110]:
department = Department(
    [
        Manager('Леся', 'Шевченко', 3500, 6,
                [
                    Designer('Максим',  'Григоренко', 3600, 2,   1.5),
                    Designer('Софія',  'Ковальчук',      3100, 2.5, 0.8),
                    Designer('Артем',   'Мельник',     4500, 2.5, 1.5),
                    Designer('Олександра',    'Лисенко',   3800, 1, 2.3),
                    Developer('Денис', 'Харченко',   4200, 3)
                ]),
        Manager('Анастасія', 'Войтенко', 3300, 8,
                [
                    Designer('Віталій', 'Гордієнко',    4600,   3,   2.8),
                    Designer('Юлія',    'Білоус', 3300,   1.2, 3.6),
                    Developer('Олександр',    'Кравець',  2700,   2.3),
                    Developer('Тетяна',  'Яремчук',    4900,   1),
                    Developer('Ігор',  'Білий',    3000, 30),
                ]),
        Manager('Юрій', 'Лисиченко', 3200, 2,
                [
                    Designer('Наталія',     'Коваленко',    5500, 2,   1.5),
                    Designer('Олексій',    'Левченко', 4200, 3.5, 1.9),
                    Designer('Аліна',    'Клименко',    4500, 1,   1.9),
                    Designer('Михайло',    'Кравченко',    2300, 3,   1.4),
                    Designer('Катерина',    'Гончаренко',  3500, 2.5, 1.3),
                    Designer('Владислав',    'Бондаренко',    2700, 2, 0.7),
                    Developer('Оксана',    'Шевченко',    2500, 2),
                    Developer('Марина',    'Соколова',     300, 3.5),
                    Developer('Олег','Кузьменко',   4800, 4.5),
                    Developer('Ірина',    'Денисенко',   4800, 2),
                    Developer('Сергій',  'Ковальов',    2900, 2)
                ])
        
    ])

In [111]:
department.giveSalary()

Ігнат Прищ отримав(-ла) 5900.0 монет
   Кирило Крінженко отримав(-ла) 3500 монет
   Галина Краш отримав(-ла) 210.0 монет
   Остап Вишня отримав(-ла) 3150.0 монет
   Іван Березюк отримав(-ла) 1440.0 монет
   Сергій Обрубок отримав(-ла) 6260.0 монет

Василина Голубець отримав(-ла) 6226.000000000001 монет
   Мирослав Грач отримав(-ла) 4480.0 монет
   Тарас Квасоля отримав(-ла) 690.0 монет
   Єгор Шнурко отримав(-ла) 4000 монет
   Наташа Борщ отримав(-ла) 4100 монет
   Дмитро Гуро отримав(-ла) 1200498.8 монет

Любослав Слободяник отримав(-ла) 5100 монет
   Анна Галушка отримав(-ла) 2800.0 монет
   Тарас Онопрієнко отримав(-ла) 2240.0 монет
   Тарас Бартків отримав(-ла) 4680.0 монет
   Тарас Музичко отримав(-ла) 3464.0 монет
   Тарас Олексенко отримав(-ла) 690.0 монет
   Тарас Березюк отримав(-ла) 1440.0 монет
   Єгор Живосил отримав(-ла) 3800 монет
   Єгор Чеслав отримав(-ла) 4100 монет
   Вікторія Данканич отримав(-ла) 4400 монет
   Єгор Данканич отримав(-ла) 3800 монет
   Наташа Леськів отримав(-ла) 4100 монет