In [3]:
class Employee:
    def __init__(self, name, l_name, salary, exp):
        self.name = name
        self.last_name = l_name
        self.base_salary = salary
        self.experience = exp


class Developer(Employee):
    def __init__(self, name, l_name, salary, exp):
       super().__init__(name, l_name, salary, exp)
       

class Designer(Employee):
    def __init__(self, name, l_name, salary, exp, er):
       super().__init__(name, l_name, salary, exp)
       self.er = er

class Manager(Employee):
    def __init__(self, name, l_name, salary, exp, team):
       super().__init__(name, l_name, salary, exp)
       self.team = team   


class Department:
    def __init__(self, managers):
         self.managers = managers
    
    def giveSalary(self):
        print('\n'.join(self.countedSalary()))

    def countedSalary(self):
        ans = []
        for m in self.managers:
            salary = m.base_salary
            if m.experience > 5:   salary = salary*1.2 + 500
            elif m.experience > 2: salary += 200

            if len(m.team)>10: salary += 300
            elif len(m.team)>5: salary += 200
            
            if sum(isinstance(x, Developer) for x in m.team)>len(m.team)/2: salary *= 1.1
            ans.append(f'\n{m.name} {m.last_name} отримав(-ла) {salary} гривень')

            for e in m.team:
                salary = e.base_salary

                if e.experience > 5:
                    salary = salary*1.2 + 500
                elif e.experience > 2:
                    salary += 200
                
                if isinstance(e, Designer):
                    salary *= e.er

                ans.append(f'   {e.name} {e.last_name} отримав(-ла) {salary} гривень')

        return ans

In [4]:
department = Department(
    [
        Manager('Анна', 'Шевченко', 3500, 6,
                [
                    Designer('Роман',  'Іванов', 3300, 4,   1),
                    Designer('Ольга',  'Грищенко',      2500, 2, 0.5),
                    Designer('Дмитро',   'Гончарук',     2300, 3, 0.3),
                    Designer('Марія',    'Литвиненко',   3800, 2.5, 1.7),
                    Developer('Андрій', 'Гордійчук',   2800, 6)
                ]),
        Manager('Ірина', 'Ковалева', 3300, 8,
                [
                    Designer('Віталій', 'Тарасенко',    5500,   1.5,   1.8),
                    Designer('Катерина',    'Білецька', 2500,   2, 2.3),
                    Developer('Євгеній',    'Жуков',  2800,   2),
                    Developer('Любов',  'Лисенко',    4900,   5),
                    Developer('Михайло',  'Гриненко',    15, 45),
                ]),
        Manager('Софія', 'Журавлик', 3600, 5,
                [
                    Designer('Віталій',     'Матвієнко',    3500, 2,   1.5),
                    Designer('Юлія',    'Морозова', 2200, 2.5, 1.7),
                    Designer('Артем',    'Бондаренко',    4200, 2.5,   1.9),
                    Designer('Владислав',    'Іванов',    4800, 4,   2.5),
                    Designer('Євгенія',    'Коваленко',  4500, 3.5, 1.3),
                    Designer('Максим',    'Гриценко',    2800, 2.5, 2.6),
                    Developer('Наталія',    'Мельник',    3400, 2),
                    Developer('андрій',    'Левченко',     3500, 3.5),
                    Developer('Юлія','Харченко',   4200, 3),
                    Developer('Олександра',    'Денисенко',   3800, 1.5),
                    Developer('Вікторія',  'Гордієнко',    3900, 2.5)
                ])
        
    ])

In [5]:
department.giveSalary()

Анна Шевченко отримав(-ла) 4700.0 гривень
   Роман Іванов отримав(-ла) 3500 гривень
   Ольга Грищенко отримав(-ла) 1250.0 гривень
   Дмитро Гончарук отримав(-ла) 750.0 гривень
   Марія Литвиненко отримав(-ла) 6800.0 гривень
   Андрій Гордійчук отримав(-ла) 3860.0 гривень

Ірина Ковалева отримав(-ла) 4906.0 гривень
   Віталій Тарасенко отримав(-ла) 9900.0 гривень
   Катерина Білецька отримав(-ла) 5750.0 гривень
   Євгеній Жуков отримав(-ла) 2800 гривень
   Любов Лисенко отримав(-ла) 5100 гривень
   Михайло Гриненко отримав(-ла) 518.0 гривень

Софія Журавлик отримав(-ла) 4100 гривень
   Віталій Матвієнко отримав(-ла) 5250.0 гривень
   Юлія Морозова отримав(-ла) 4080.0 гривень
   Артем Бондаренко отримав(-ла) 8360.0 гривень
   Владислав Іванов отримав(-ла) 12500.0 гривень
   Євгенія Коваленко отримав(-ла) 6110.0 гривень
   Максим Гриценко отримав(-ла) 7800.0 гривень
   Наталія Мельник отримав(-ла) 3400 гривень
   андрій Левченко отримав(-ла) 3700 гривень
   Юлія Харченко отримав(-ла) 4400 гривень
   Олександра Денисенко отримав(-ла) 3800 гривень
   Вікторія Гордієнко отримав(-ла) 4100 гривень